.password-popup {
  cursor: auto;
}

.password-popup .modal-drawer-card {
  max-width: 550px;
}

.passowrd-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

.password-content-box {
  max-width: 100%;
  width: 100%;
  padding: 30px 0 15px;
  text-align: center;
  margin: 0 auto;
}

.password-logo-img {
  display: inline-block;
  max-width: 300px;
  margin-bottom: 25px;
}

.passwordform {
  max-width: 450px;
  margin: 40px auto 0;
}

.heading-password {
  font-weight: 800;
  margin-bottom: 0;
}

.password-description {
  margin-bottom: 35px;
}

.password-btns {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 2;
  color: var(--body-text-color);
}

.popup-body-inner {
  width: 100%;
  max-width: 600px;
}

.password-enter-content {
  padding: 40px 30px;
  text-align: center;
}

.password-enter-description {
  opacity: 0.5;
  margin-top: 15px;
  color: var(--body-text-color);
}

@media (min-width: 992px) {
  .password-content-box {
    max-width: 90%;
  }
  .password-form-box {
    max-width: 550px;
    margin: 60px auto 0;
  }
}

@media (min-width: 1025px) {
  .password-enter-description a:hover {
    color: var(--link-hover-color);
  }
}

@media (min-width: 1200px) {
  .password-content-box {
    max-width: 80%;
  }
}

@media (max-width: 991px) {
  .password-logo-img {
    margin-bottom: 15px;
  }
  .popup-close {
    right: 20px;
    top: 20px;
  }
  .popup-close svg {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 767px) {
  .passowrd-wrapper {
    padding: 60px 0;
  }
  .password-btns {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 85%;
  }
  .password-enter-content {
    padding: 40px 0px;
    text-align: center;
  }
}
